/* Utility */

.container {
  max-width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: none;
  font: inherit;

  padding: 0.5rem 1rem;
  margin: 0.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.2s ease;
}

.btn:hover {
  cursor: pointer;
}

nav {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 10;
}

nav.shadow {
  box-shadow: 0 0 20px -4px black;
}

nav > .nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--two);
  opacity: 0;
  z-index: 10;
}

nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  color: white;
  font-size: 1.4rem;
  z-index: 15;
}

.brand:hover {
  cursor: pointer;
}

.brand i {
  display: inline-block;
}

.brand h1 {
  float: right;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
}

.nav-links {
  color: white;
  z-index: 15;
}

.nav-links > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-links > ul > li {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0);
  transition: 0.2s ease;
  border-radius: 0.2rem;
}

.nav-links > ul > li:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px -8px black;
  cursor: pointer;
  transform: scale(1.1);
}

.nav-links > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: white;
}

.btn-scroll {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  background: white;
  z-index: 20;
  border-radius: 50%;
  box-shadow: 0 0 20px -8px black;
  width: 4rem;
  height: 4rem;
  transition: 0.2s ease;
}

.btn-scroll.show:hover {
  transform: scale(1.5);
  box-shadow: 0 0 20px 0px black;
}

.btn-scroll.show {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.master-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  display: none;
  opacity: 0;
  z-index: 30;
}

.master-overlay.shown {
  display: block;
  animation: enter-overlay 0.2s ease forwards;
}

@keyframes enter-overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-group {
  display: flex;
  flex-flow: column;
  margin: 1rem;
}

.input-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group label small {
  font-weight: normal;
}

.input-text,
.input-textarea {
  font: inherit;
  background: #ccc;
  padding: 1rem 0.5rem;
  border-radius: 0.2rem;
}

.input-textarea {
  min-width: 10rem;
  min-height: 10rem;
}

.input-text:hover,
.input-textarea:hover {
  background: #bbb;
}

.input-text:focus,
.input-textarea:focus {
  background: #fff;
  border: 1px solid #777;
  box-shadow: 0 0 5px -4px #555 inset;
}

.input-invalid {
  border: 1px solid #c32;
}

.invalid-text {
  margin-top: 0.2rem;
  color: #c32;
}

/* Home */

section.banner {
  position: relative;
  width: 100%;
  height: 30rem;
  background-image: url('./img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

section.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(30, 32, 25, 0.3), rgba(30, 32, 25, 1));
  opacity: 1;
  z-index: 0;
}

section.banner > h1 {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 4rem;
  text-align: center;
}

.btn-banner {
  position: absolute;
  top: 21rem;
  left: 50%;
  transform: translateX(-50%) scale(1);
  background: white;
  box-shadow: 0 0 20px -8px black;
  z-index: 3;
}

.btn-banner:hover {
  box-shadow: 0 0 20px -4px black;
  background: rgba(255, 255, 255, 0.8);
}

section.posts {
  min-height: calc(100vh - 5rem - 30rem - 6rem);
}

.post-card {
  background: #eee;
  margin: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 0 20px -8px black;
  display: flex;
  z-index: 20;
  transition: 0.2s ease;
}

.post-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px 4px black;
}

.post-card > .left {
  width: 30%;
  height: 15rem;
  padding: 0.5rem;
  margin-right: 1rem;
}

.post-img {
  display: inline-block;
  background: url('https://via.placeholder.com/600x300') no-repeat center
    center/cover;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.post-card > .right {
  width: 70%;
  height: 100%;
  padding: 1rem 0;
  padding-right: 2rem;
}

.right > h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.right > h1 > a {
  text-decoration: none;
  color: black;
}

.right > .details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.details p {
  margin-right: 2rem;
  font-size: 0.8rem;
  color: #999;
}

.tags ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags ul li {
  background: var(--three);
  margin-right: 0.2rem;
  overflow: hidden;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  transition: 0.2s ease;
}

.tags ul li:hover {
  background: rgba(57, 64, 50, 0.8);
  box-shadow: 0 0 10 -4px black;
  cursor: pointer;
}

.tags a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  text-align: center;
}

.content {
  padding: 1rem;
  padding-right: 3rem;
  text-align: justify;
  word-wrap: break-word;
  color: #444;
}

footer {
  width: 100%;
  margin-top: 5rem;
  color: #ddd;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px -8px black;
  padding: 1rem 1rem;
  background: var(--three);
}

/* New post modal */

.new-post-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.2rem;
  background: #eee;
  padding: 1rem;
}

.btn-submit {
  background: #4bb543;
  color: white;
  transition: 0.1s ease;
  margin: 0;
}

.btn-submit:hover {
  background: #5bc553;
}

.btn-submit:active {
  background: #2b9523;
}

.btn-submit.btn-submit-disabled,
.btn-submit.btn-submit-disabled:hover,
.btn-submit.btn-submit-disabled:active {
  background: #8bf583 !important;
  cursor: default;
}

.btn-close.btn-close-disabled,
.btn-close.btn-close-disabled:hover,
.btn-close.btn-close-disabled:active {
  background: #f65 !important;
  cursor: default;
}

.btn-close {
  background: #c32;
  color: white;
  transition: 0.1s ease;
  margin: 0;
}

.btn-close:hover {
  background: #d43;
}

.btn-close:active {
  background: #a10;
}

.submitted-text {
  color: #4bb543;
  text-align: center;
}

.spinner {
  background-color: white;
  color: transparent;
  height: 100%;
  background: url('./img/tail-spin.svg') no-repeat center center/contain;
  text-align: center;
}

.loading-posts {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 20;
  align-items: center;
  text-align: center;
  background: #eee;
  border-radius: 0.2rem;
  box-shadow: 0 0 20px -4px black;
}

.loading-posts-spinner {
  color: transparent;
  width: 10rem;
  z-index: 20;
  height: 5rem;
  background: url('./img/three-dots.svg') no-repeat center center/contain;
}

section.notfound {
  padding: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 4rem;
  font-weight: 900;
  z-index: 20;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

section.postdetail {
  min-height: calc(100vh - 5rem - 30rem - 6rem);
}

.postdetail-card {
  background: #eee;
  margin: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 0 20px -8px black;
  display: flex;
  flex-flow: column;
  z-index: 20;
}

.postdetail-card > .post-title {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px #999 solid;
  margin-bottom: 1rem;
}

.post-title > h1 {
  font-size: 3rem;
  font-weight: 100;
  color: var(--two);
}

.post-title > p {
  color: #999;
}

.post-tags {
  padding: 1rem 4rem;
}

.post-tags ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-tags ul li {
  background: var(--three);
  margin-right: 0.2rem;
  overflow: hidden;
  border-radius: 2rem;
  padding: 0.4rem 1.4rem;
  transition: 0.2s ease;
}

.post-tags ul li:hover {
  background: rgba(57, 64, 50, 0.8);
  box-shadow: 0 0 10 -4px black;
  cursor: pointer;
}

.post-tags a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

.post-image {
  color: transparent;
  height: 15rem;
  width: 40%;
  margin-right: 2rem;
  margin-bottom: 0rem;
  float: left;
  background: url('https://via.placeholder.com/600x300') no-repeat center
    center/cover;
}

.post-content {
  padding: 1rem 4rem;
  padding-bottom: 8rem;
  float: right;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2.5rem;
  word-wrap: break-word;
  color: #444;
}

/* .spinner {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
  z-index: 40;
}

.spinner .path {
  stroke: hsl(210, 70, 75);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  z-index: 40;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
} */
