@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

* {
  outline: none;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: var(--two);
  min-height: 100vh;
}

:root {
  --one: rgba(88, 123, 127, 1);
  --two: rgba(30, 32, 25, 1);
  --three: rgba(57, 64, 50, 1);
  --four: rgba(141, 171, 127, 1);
  --five: rgba(207, 238, 158, 1);
}
